@import url('https://fonts.googleapis.com/css?family=Khand:300,400,700');

@font-face {
  font-family: 'IcoMoon-Ultimate';
  src:  url('../fonts/IcoMoon-Ultimate.eot?p0cj1q');
  src:  url('../fonts/IcoMoon-Ultimate.eot?p0cj1q#iefix') format('embedded-opentype'),
    url('../fonts/IcoMoon-Ultimate.ttf?p0cj1q') format('truetype'),
    url('../fonts/IcoMoon-Ultimate.woff?p0cj1q') format('woff'),
    url('../fonts/IcoMoon-Ultimate.svg?p0cj1q#IcoMoon-Ultimate') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ICON FONT STYLES */

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IcoMoon-Ultimate' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hammer2:before {
  content: "\ebe4";
}
.icon-circle2:before {
  content: "\ee78";
}
.icon-circles-yellow:before {
  content: "\ee79";
  color: yellow;
}
.icon-circles-red:before {
  content: "\ee79";
  color: red;
}
.icon-facebook2:before {
  content: "\eef0";
}
.icon-twitter:before {
  content: "\eef5";
}
.icon-youtube2:before {
  content: "\eefd";
}


html {
    font-size: 62.5%;
}

body {
    font-family: 'Khand', sans-serif;
}

table {
    width: 100%;
}

h1 {
    margin-bottom: 15px;
}

td, th {
    padding: 10px 5px;
}

th:first-child, td:first-child {
    padding-left: 20px;
}

.img-circle {
    border-radius: 50%;
    max-height: 50px;
}

/* SCORE TABLE STYLES */

.scr-session tr:nth-child(2n + 3) {
    background-color: lightgray;
}

.scr-drawTime {
    text-transform: uppercase;
    background-color:lightskyblue;
    font-size: 1.1em;
    line-height: 1.5em
}

.scr-name {
    text-transform: capitalize;
}

.src-session img {
    min-height: 25px;
}